#output {
  background-color: #043d4b;
  border: 2px solid #044a5a;
  padding: 12px 10px 12px 30px;
  width: 500px;
  margin: 12px 0px;
  -webkit-transition: all 0.2s ease-in-out;
}

#output:hover {
  background-color: #065f74;
}

#bold {
  color: #fdd23e;
  font-size: 1.2em;
}

#firstname, #lastname, #email {   /*input fields */
  margin-bottom: 10px;
}

/*SUGGESTION CSS*/

#suggestcontent {
  list-style: none;
  width: 70%;
  background-color: #043d4b;
  border: 2px solid #044a5a;
  padding: 0px;
}

.suggest:hover {
  cursor: pointer;
  background-color: #065f74;
}

.suggest {
  padding: 10px;
}


/*OVERWRITE BOOTSTRAP TEMPLATE*/

.navbar { 
  background-color: #022c36;
  font-size: 1.2em;
}
.navbar .navbar-brand>img {       /*database logo */
  color: #fdd23e;
  height: 220%;
  margin-top: -17px;

}

@media (min-width: 768px) {       /*the width on which the screen will change due to responsiveness */
  .form-inline .form-control {
    display: inline-block;
    width: 800px;
    vertical-align: middle;
  }
}

#add {                    /*add button properties */
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f1b540;
  border: none;
}

#search {                 /*Search bar properties*/ 
  margin-right: 10px;
}

